.add-product{
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 6px;
    background: white;
}
.addproduct-thumnail-img{
    width: 50px;
    height: 50px;
}
.addproduct-itemfield input{
    font-size: 20px;
    padding: 20px;
    width: 100%;
}
.add-product-selector{
    font-size: 20px;
}
.addproduct-btn{
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: black;
}
p{
    font-weight: 600;
}
.addproduct-price{
    display: flex;
    justify-content: space-between;
}